<!doctype html>
<!--
    Build information
    Version: {{version}}
    Build Date: {{buildDate}}
-->
<html>
    <head>
        <meta charset="utf-8"/>
        <meta property="Description" content="Free and open source air traffic control simulator"/>
        <meta property="og:title" content="openScope Air Traffic Control Simulator"/>
        <meta property="og:description" content="Free and open source air traffic control simulator"/>
        <meta property="og:url" content="http://openscope.io" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:image" content="assets/images/thumb.png"/>
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="openScope" />

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">

        <title>openScope Air Traffic Control Simulator</title>

        {{#block "styles"}}
        <link rel="stylesheet" href="assets/style/main.min.css?={{version}}" />
        {{/block}}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91575400-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-91575400-1');
        </script>
    </head>
    <body>
        {{#block "body"}}
        {{/block}}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-57858722-1', 'auto');
            ga('create', 'UA-91575400-1', { 'name': 'openscope' });

            ga('send', 'pageview');
            ga('openscope.send', 'pageview', location.host);
        </script>
        <script>
            window.GLOBAL = {
                VERSION: '{{version}}'
            };
        </script>

        {{#block "scriptsBody"}}
        <script src="assets/airports/airportLoadList.js"></script>
        <script src="assets/scripts/client/bundle.min.js?v={{version}}"></script>
        {{/block}}
  </body>
</html>
